.hero-section {
    position: relative;
    height: 50vh;
    background: linear-gradient(rgba(59, 198, 63, 0.8), rgba(76, 175, 80, 0.8)),
      url("/assets/officeimage.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .hero-content {
    max-width: 800px;
    padding: 0 20px;
  }
  
  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    background-color: white;
    color: #4caf50;
    border: none;
    width: 180px;
    height: 7vh;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .cta-button:hover {
    transform: translateY(-2px);
  }
  