.service1-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 24, 38, 255);
  text-align: center;
}

.service1-header {
  margin-top: 50px;
}

.service1-header h1 {
  font-size: 36px;
  font-weight: 400;
  color: rgb(8, 99, 218);
}

.service1-header p {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
}
.infinitecard-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */

@media (max-width: 768px) {
  .service1-container {
    height: auto;
  }
  .service1-header h1 {
    font-size: 28px;
    /* margin-top: 300px; */
  }
  .service1-header p {
    font-size: 24px;
  }
  
}

/* @media (max-width: 480px) {
  .service1-header h1 {
    font-size: 24px;
  }
  .service1-header p {
    font-size: 20px;
  }
  .infinitecard-box {
    margin-top: -20px;
  }
} */
