.investors-container {
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    height: 75vh;
  }

.investors-container h1{
    font-size: 35px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 0px;

}

.investors-container p{
    font-size:20px;
    margin-top: 5px;
}

  .investors-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Reduce gap between items */
    row-gap: 5px; /* Reduce space between rows */
    margin-top: 10px; /* Reduce space from heading */
    margin-top: 35px;
  }
  
  .investor-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 5px; /* Reduce padding */
  }
  
  .investor-item:hover {
    transform: scale(0.9);
  }
  
  .investor-logo {
    max-width: 80%;
    max-height: 80%;
  }

  /* Responsive Design */

@media (max-width: 768px) {
    .investor-item {
        width: 120px; /* Even smaller on mobile */
        height: 80px;
    }
}

/* Mobile View - max-width: 320px */
@media (max-width: 320px) {
  .investors-container {
      padding: 10px;
      height: auto;
  }

  .investors-container h1 {
      font-size: 1.5rem;
      margin-top: 40px;
  }

  .investors-container p {
      font-size: 0.9rem;
      margin-top: 5px;
      padding: 0 10px;
  }

  .investors-grid {
    grid-template-columns: repeat(2, 1fr); /* Keeps 2x2 layout */
    grid-gap: 5px; 
      /* justify-content: center;
      gap: 5px;
      margin-top: 20px; */
  }

  .investor-item {
    width: 130px;
    height: 80px;
      border-radius: 6px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      padding: 3px;
  }

  .investor-logo {
      max-width: 70%;
      max-height: 70%;
  }
}

@media (max-width: 375px) {
  .investors-container {
      padding: 10px;
      height: auto;
  }

  .investors-container h1 {
      font-size: 1.5rem;
      margin-top: 40px;
  }

  .investors-container p {
      font-size: 0.9rem;
      margin-top: 5px;
      padding: 0 10px;
  }

  .investors-grid {
    grid-template-columns: repeat(2, 1fr); /* Keeps 2x2 layout */
    grid-gap: 5px; 
      /* justify-content: center;
      gap: 5px;
      margin-top: 20px; */
  }

  .investor-item {
    width: 130px;
    height: 80px;
      border-radius: 6px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      padding: 3px;
  }

  .investor-logo {
      max-width: 70%;
      max-height: 70%;
  }
}
